<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
<h2>Welcome</h2>
<!--<h3 th:text="${user.username}"></h3>-->
<!--<table border="1">-->
<!--    <tr>-->
<!--        <th>Username</th>-->
<!--        <th>Password</th>-->
<!--    </tr>-->
<!--    <tr th:each="user : ${users}">-->
<!--        <td th:text="${user.username}"></td>-->
<!--        <td th:text="${user.password}"></td>-->
<!--    </tr>-->
<!--</table>-->
<br>
<a th:href="@{/}">Add Another User</a>
</body>
</html>
